@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {
	max-width: 1130px;
	
}

.album-art {
	border: 1px solid red;
	padding: 15px;
	float: left;
	margin: 20px;
}

.clear {
	clear: both;
	margin: 10px;
}

.image-electronics, .image-stage-effects {
	border: 1px solid red;
	padding: 15px;
	float: left;
	margin: 20px;
}

.record-label {
	color: red;
	font-style: italic;
}

.track-list {

}

#about-photo {
	border: 1px solid red;
	padding: 15px;
	float: left;
	margin: 20px;
}

#copyright {

}

#section-about, #section-discography, #section-equipment {
	border: 1px solid red;
	padding: 10px;
	margin: 5px;

	
}

#text-intro {
	border: 1px solid red;
	background-color: darkslategray;
	color: red;
	font-size: small;
	padding: 10px;
	margin: 10px;
}